[submodule "external/xpedaq"]
	path = external/xpedaq
	#url = git@github.com:lucabaldini/xpedaq.git
	url = https://github.com/lucabaldini/xpedaq.git
[submodule "mblibs"]
	path = mblibs
	url = git@github.com:pps-tb-sw/motherboard-lib.git
