<?xml version="1.0"?>
<triggering mode="continuous_storage" />
<!--<triggering mode="trigger_start" />-->
<!--<triggering mode="trigger_matching" />-->
<fpga address="0x32100000">
  <threshold>
    <tdc0>80</tdc0>
    <tdc1>80</tdc1>
    <tdc2>80</tdc2>
    <tdc3>80</tdc3>
  </threshold>
</fpga>
<fpga address="0x42100000">
  <clock>
    <source>internal</source>
    <period>1</period>
  </clock>
  <trigger>
    <source>internal</source>
    <period>1000000</period>
  </trigger>
  <signal>
    <source>internal</source>
    <poi>4294967295</poi>
  </signal>
</fpga>
<tdc address="0x00aa0000">
  <detector>gastof</detector>
  <verbosity>1</verbosity>
  <det_mode>trailead</det_mode>
  <dll>PLL_High_Resolution</dll>
  <ettt/>
  <trigger_window>
    <width>400</width>
    <offset>-400</offset>
  </trigger_window>
</tdc>
<tdc address="0x00bb0000">
  <detector>quartic_2</detector>
  <verbosity>1</verbosity>
  <det_mode>trailead</det_mode>
  <dll>PLL_High_Resolution</dll>
  <ettt/>
  <trigger_window>
    <width>400</width>
    <offset>-400</offset>
  </trigger_window>
</tdc>
<cfd address="0x00070000">
  <poi>3</poi>
  <output_width>
    <group0>120</group0>
    <group1>120</group1>
  </output_width>
  <dead_time>
    <group0>0</group0>
    <group1>0</group1>
  </dead_time>
  <threshold>
    <channel id="0">30</channel>
    <channel id="1">30</channel>
    <channel id="2">6</channel>
  </threshold>
</cfd>
